.questionsItem {
  list-style: none;
  padding: 20px 0 15px;
  border-bottom: 1px solid var(--secondary-grey);
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.questionTitle {
  font-weight: 500;
  font-size: 22px;
  color: var(--accent-dark);
}
.arrow {
  transition: transform 0.5s ease;
  color: var(--accent-dark);
  height: 28px;
  width: 28px;
}
.itemContent {
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
  .questionText {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    color: var(--accent-dark);
  }
}
.itemContentOpen {
  height: 100%;
}

@media (max-width: 926px) {
  .questionsItem {
    padding: 15px 0 10px;
  }
  .questionTitle {
    font-size: 18px;
  }

  .arrow {
    width: 25px;
    height: 25px;
    margin-left: 20px;
  }
  .itemContent {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;

    .questionText {
      font-size: 16px;
      color: var(--accent-dark);
    }
  }
}
@media (max-width: 670px) {
  .questionTitle {
   font-size: 18px;
  }
}
@media (max-width: 500px) {
  .questionsItem {
    padding: 10px 0 10px;
  }
   .questionTitle {
     font-size: 14px;
   }

  .arrow {
    width: 20px;
    height: 20px;
    margin: 3px 3px 0;
  }
  .itemContent {
      .questionText {
        font-size: 12px;
        padding-top: 10px;
      }
   
  }
}

